.navbar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--background-darker);
    align-items: center;
}

.name {
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--text);
    transition: 0;
    margin-right: auto;
}

.name>span {
    color: var(--text-accent);
    margin-right: 0.5rem
}

.name:hover {
    color: var(--text);
    background: none;
}

.navlink {
    font-size: 1.15rem;
}

@media screen and (max-width: 750px) {
    .name {
        font-size: 0.75rem;
    }

    .navlink {
        font-size: 0.75rem;
    }

    .navbar {
        gap: 0.1rem;
    }
}