.main {
    width: 100%;
    height: 100%;
}

.heading {
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
}

.subheading {
    font-size: 30px;
    text-align: center;
}

.subsubheading {
    font-size: 25px;
    text-align: center;
}

.blurbText {
    font-size: 18px;
}

.subtext {
    font-size: 18px;
    text-align: center;
}

.missionContainer {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.statsContainer {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.aboutcontainer {
  display: flex;
  flex-direction: row;
  padding: 4rem 4rem;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  max-width: 75rem;
}

.boardContainer {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.committee {
    width: 50%;
}

.boardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.boardMember {
  max-width: 20rem;
  background: linear-gradient(45deg, #00333f 0%, #232331 100%);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.boardImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.boardName {
  margin: 5px 0;
  font-size: 1.2rem;
}

.boardPosition {
  margin: 5px 0;
  font-weight: bold;
  color: #b7b7b7;
}

.boardBio {
  font-size: 0.9rem;
  color: #777;
}

@media screen and (max-width: 900px) {
  .aboutcontainer{
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    gap: 0;
  }
  .aboutInfoContainer{
    width:100%;
    margin-top: 4rem;
  }
  .pythonImageContainer{
    order:1;
  }
}