.main{
    background: rgb(21, 40, 49);
    width:550px;
    height:650px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2rem 4rem;
    border:1px solid rgb(255, 255, 255);
    gap:.75rem;
    position: absolute;
    bottom:0px;
    z-index: 888;
}
.title{
    font-size: 2.1rem;
    margin-bottom: 1rem;
}

.list{
   
    width:90%;
    padding-bottom: 2rem;
    
}

.btnContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 2.75rem;
    gap:1rem;

}

@media screen and (max-width: 750px) {
        .main{
            top:0;
            max-width: 80%;
            height:fit-content;
        }
    
    }