:root {
  --background: #03131a;
  --background-darker: #161618;
  --text: white;
  --text-accent: #d1b200;
  --dark-blue-accent: #00333f;
  --scroll-primary: rgb(15, 15, 16);
  --scroll-accent: #ab9205;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--text-accent);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-accent);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--text-accent) var(--scroll-primary);
}

html,
body {
  max-width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--text);
  background-color: var(--background);
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: var(--text-accent);
  transition: 0.1s;
  padding: 0.5rem;
  font-family: monospace;
}

a:hover {
 background-color: var(--text-accent);
 color: white;
}

.page {
  width: 100%;
  flex-grow: 1;
}

button:disabled {
  cursor:not-allowed;
  opacity: 50%;
}

.btn-primary {
  border-radius: 0;
  border: var(--text-accent) 1px solid;
  color: var(--text-accent);
  padding: 1rem;
  background: none;
  font-size: 1rem;
  font-family: monospace;
  cursor: pointer;
  transition: 0.1s;
}

.btn-primary:hover {
  background-color: var(--text-accent);
  color: var(--text);
}

.btn-secondary {
  border-radius: 0;
  border: var(--text) 1px solid;
  color: var(--text);
  padding: 1rem;
  background: none;
  font-size: 1rem;
  font-family: monospace;
  cursor: pointer;
  transition: 0.1s;
}

.btn-secondary:hover {
  background-color: var(--text);
  color: var(--background-darker);
}

h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: xx-large;
}

p {
  margin-bottom: 0.5rem;;
}